---
layout: default
---

<div class="home">
  <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>

  {{ content }}

  {% include app.html %}

  {%- if site.posts.size > 0 -%}

  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time>
      </p>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- elsif site.show_content -%}
      <div class="post-content">
        {{ post.content }}
      </div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- include pagination.html -%}

  {%- endif %}
</div>
